<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>743298527769-sl821mln1apa9g89d5r4ufsgpiasfeo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743298527769-sl821mln1apa9g89d5r4ufsgpiasfeo7</string>
	<key>API_KEY</key>
	<string>AIzaSyCMBmwis7jhGRBeLm7f4RDwuvONoc-BOKs</string>
	<key>GCM_SENDER_ID</key>
	<string>743298527769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vnstock.winvestor</string>
	<key>PROJECT_ID</key>
	<string>winvestor-kapitalamc</string>
	<key>STORAGE_BUCKET</key>
	<string>winvestor-kapitalamc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:743298527769:ios:5403b207e5b76f7b</string>
	<key>DATABASE_URL</key>
	<string>https://winvestor-kapitalamc.firebaseio.com</string>
</dict>
</plist>